.bundle-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal; /* Default font weight */
  }
  
  .label-bold {
    font-weight: 900;
    font-size: 20px;
     /* Make the label bold */

  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .image-preview img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* React Select */
  .react-select-container {
    margin-top: 10px;
  }
  
  .react-select__control {
    border-radius: 4px;
    border-color: #ccc;
  }
  
  .react-select__menu {
    border-radius: 4px;
  }
  
  .react-select__multi-value {
    background-color: #007bff;
    color: #fff;
  }
  
  .react-select__multi-value__label {
    color: #fff;
  }

  .dropzone{
    /* border: 1px solid #9f2727; */
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  